<h1>転職サービス管理</h1>
<p>利用する転職サイト、登録した転職エージェントを管理します。</p>

<div class="text-right">
  <%= link_to '新規登録', new_service_path, class: 'btn btn-primary service-newregi-btn' %>
</div>

<% if @services.present? %>
  <table class="service-index-table table table-bordered" width="100%">
    <thead>
      <tr>
        <th width="30%">サービス名</th>
        <th width="20%">種別</th>
        <th width="50%">メモ</th>
      </tr>
    </thead>
    <tbody>
      <% @services.each do |service| %>
        <tr>
          <td>
            <%= link_to '編集', edit_service_path(service), class: 'btn btn-primary btn-md service-index-edit-btn' %>
            <%= link_to '削除', service, method: :delete, data: { confirm: "削除しますか？"}, class: 'btn btn-danger btn-md service-index-delete service-index-delete-btn' %>
            <%= link_to service.name, service.url %>
          </td>
          <% if service.kind == "転職サイト" %>
            <td><%= service.kind %></td>
          <% else %>
            <td><%= service.kind %><br>
            ＜<%= link_to '詳細', service %>＞</td>
          <% end %>
          <td>
            <%= form_for(service) do |f| %>
              <%= f.text_field :memo, class: 'form-control' %>
              <%= f.submit '更新', class: 'btn btn-default pull-right memo-btn' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>登録されているサービスはありません。新規登録ボタンより登録して下さい。</p>
<% end %>

<%= paginate @services %>
