
<h1>候補企業 新規登録</h1>

<%= form_tag new_enterprise_path, :method => 'get' do %>
  <p>
    企業名
    <%= text_field_tag :keyword, params[:keyword] %>
    <%= submit_tag "検索", :name => nil %>
  </p>
<% end %>

<table class="enterprise-new-table table table-bordered" width="100%">
  <thead>
    <tr>
      <th width="30%">企業名</th>
      <th width="70%">事業内容</th>
    </tr>
  </thead>
  <tbody>
    <% @enterprises.each do |enterprise| %>
      <tr>
        <td>
          <%= render 'enterprises/register_button', enterprise: enterprise %>
          <%= enterprise.name %>
        </td>
        <td><%= enterprise.business_contents %></td>
      </tr>
    <% end %>
  </tbody>
</table>