<h1><%= @enterprise.name %></h1>
<p><%= link_to '公式サイト', @enterprise.url %></p>

<% user_candidate = current_user.candidates.find_by(enterprise_id: @enterprise.id) %>
<%= form_for(user_candidate) do |f| %>
<table class="enterprise-show-table table table-bordered">
  <tbody>
    <tr>
      <th width="30%">代表者氏名</th>
      <td width="70%"><%= @enterprise.name_of_president %></td>
    </tr>
    <tr>
      <th>設立日</th>
      <td>
        <%= @enterprise.foundation_date.year %>/
        <%= @enterprise.foundation_date.month %>/
        <%= @enterprise.foundation_date.day %>
      </td>
    </tr>
    <tr>
      <th>所在地</th>
      <td><%= @enterprise.location %></td>
    </tr>
    <tr>
      <th>事業内容</th>
      <td><%= @enterprise.business_contents %></td>
    </tr>
    <tr>
      <th>従業員数</th>
      <td><%= number_with_delimiter(@enterprise.number_of_employees) %>名</td>
    </tr>
    <tr>
      <th>平均年齢</th>
      <td><%= @enterprise.average_age %>歳</td>
    </tr>
    <% if current_user.registering?(@enterprise) %>
      <tr>
        <th>掲載元/紹介元</th>
        <td>
          <%= f.collection_select :service_id, current_user.services, :id, :name, :prompt => "選択して下さい",class: 'form-control' %>
        </td>
      </tr>
    
      <tr>
        <th>メモ</th>
        <td>
          <%= f.text_field :memo, class: 'form-control' %>
          <%= hidden_field_tag :enterprise_id, @enterprise.id %>
          <%= f.submit '更新', class: 'btn btn-default pull-right memo-update-btn' %>
        </td>
      </tr>
      
    <% end %>
  </tbody>
</table>

            <% end %>
<div class="app-return-link"><%= link_to '候補企業管理 画面に戻る', enterprises_url %></div>