<header>
  <nav class="navbar navbar-default nabvar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <% unless logged_in? %>
          <a class="navbar-left" href="/"><img src="/image/logo.png" alt="私の転職"></a>
        <% else %>
          <%= link_to user_path(current_user) do %>
            <img src="/image/logo.png" alt="私の転職">
          <% end %>
        <% end %>
      </div>
      <div class="collapse navbar-collapse" id="menu">
        <ul class="nav navbar-nav navbar-right">
          <% unless logged_in? %>
            <li><%= link_to '新規登録', signup_path %></li>
            <li><%= link_to 'ログイン', login_path %></li>
          <% else %>
            <li><%= link_to 'マイページ', user_path(current_user) %></li>
            <li><%= link_to '転職サービス管理', services_path %></li>
            <li><%= link_to '候補企業管理', enterprises_path %></li>
            <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>